body {
  font-family: "Poppins", sans-serif;
  background-color: #fffaf6;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 70%;
  width: 100%;
  margin: 20px;
}

.left-section {
  background-color: #e7f0ff;
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.left-section img {
  width: 100%;
  border-radius: 25px;
}

.left-section h2 {
  font-weight: 700;
  color: #ff6600;
  margin-top: 20px;
}

.right-section {
  flex: 1;
  padding: 40px 50px;
}

.toggle-btns {
  display: flex;
  justify-content: center;
  background-color: #ff8355;
  border-radius: 30px;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto 25px;
}

.toggle-btns button {
  border: none;
  background: transparent;
  color: white;
  padding: 10px 30px;
  transition: all 0.3s;
}

.toggle-btns button.active {
  background-color: #ff4e00;
  border-radius: 30px;
}

.form-control {
  border-radius: 30px;
  border: 1px solid #ff8355;
  padding: 10px 20px;
}

.submit-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 50px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column-reverse;
    margin: 20px;
  }
  .left-section {
    order: 2;
    text-align: center;
  }
  .right-section {
    order: 1;
  }
}
